<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079740397957-5lhiuqmes52s0epbjd5dbf6gg1clh7p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079740397957-5lhiuqmes52s0epbjd5dbf6gg1clh7p7</string>
	<key>API_KEY</key>
	<string>AIzaSyDKcx5cv2mKeHgqz33n9PUfXCS0HS4Ifxc</string>
	<key>GCM_SENDER_ID</key>
	<string>1079740397957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-d121b</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-d121b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079740397957:ios:5e4d67b953517d1e5d6cec</string>
</dict>
</plist>